/** Menu CSS **/

header{
    padding: 10px 0;
    background: white;
}

header .logo{
    font-family: 'Libre Baskerville', serif;
    text-transform: uppercase;
    font-weight: 500;
    color: black;
    font-size: 190%;
}

header div.titulo_imagem{
    display: none;
}

.mobile{
    display: none; /* Fazendo o menu do mobile sumir */
}

nav.desktop ul{
    list-style-type: none;
    margin-top: 10px;
}

nav.desktop li{
    font-size: 17px;
    padding: 0 30px;
    text-transform: uppercase;
    display: inline-block;
}

nav.desktop a{
    color: black;
    text-decoration: none;
}


/** Banner CSS **/

section.home div.banner{
    display: block;
    width: 100%;
    padding: 5px 5px;
    min-height: 500px;
    font-family: 'Belinda', cursive;
}

section.home div.banner div.text{
    display: block;
    width: 50%;
    margin-top: 100px;
    color: #fff;
    text-align: center;
}

section.home div.banner div.text h2{
	font-size: 90px;
	font-family: 'Dancing Script', cursive;
}

section.home div.banner div.text h3{
	font-size: 25px;
}


/** Corpo CSS **/

section.home div.corpo{
    width: 100%;
    background-color: white;
    padding: 30px 30px;
}

section.home div.corpo div.galeria .banner-principal{
    width: 100%;
    height: 500px;
    background-size: cover; /*Fazendo o background esticar até cobrir todo o container*/
    position: relative;
}

section.home div.corpo div.galeria .banner-principal .banner-single{
    
    position: absolute; /* O elemento é posicionado em relação ao seu primeiro 
                        elemento ancestral posicionado (não estático) */
    left: 0;
    top: 0;
    width: 90%;
    height: 100%;
    background-size: cover;
    background-position: center;
    margin-left: 5%;
}

section.home div.corpo div.galeria div.bullets{
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 4;
    display: flex;
    align-items: center;
}

section.home div.corpo div.galeria div.bullets span{
    display: inline-block; /* Colocando todos os elementos um ao lado do outro */
    width: 18px;
    height: 18px;
    border-radius: 50%;
    cursor: pointer;
    background-color: white;
    margin: 0 10px;
}

section.home div.corpo div.galeria div.bullets span.active-slider{
    background-color: #3D437A;
}

section.home div.corpo div#sobre{
    display: block;
    width: 90%;
    margin: 0 auto;
    margin-top: 50px;
}

section.home div.corpo div#sobre p{
    margin:0 60px;
}

section.home div.corpo div#sobre h1{
    text-align: center;
    font-family: 'Rubik', sans-serif;
    font-size: 2.5rem;
}

section.home div#contato{
	background-image: url('../images/fundoForm.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
    width: 100%;
    padding: 30px 0;
}

section.home div#contato #divForm{
	background-color: black;
    display: block;
    margin: 0 auto;
    width: 90%;
    max-width: 400px;
    text-align: center;
    padding: 30px 30px;
    min-height: 550px;
}

section.home div#contato #divForm form{
	display: block;
	margin: 0 auto;
    width: 100%;
}

section.home div#contato #divForm p,
section.home a{
	color: white;
    font: 800 15px 'Raleway' ;
}

section.home div#contato #divForm a:hover{
    text-decoration: underline;
}

section.home div#contato #divForm h1{
	color: white;
	font-family: 'Yellowtail', cursive;
	font-size: 275%
}

section.home div#contato #divForm #divInput{
    display: block;
    margin: 0 auto;
}

section.home div#contato #divForm #divInput input{
	background-color: black;
	color: white;
	border: 1px solid white;
	width: 98.5%;
    padding: 7px 7px;
}

section.home div#contato #divForm #divInput input+input{
    margin-top: 5px;
}


section.home div#contato #divForm #mensagem{
    display: block;
    background-color: black;
	color: white;
	border: 1px solid white;
	width: 50%;
	resize: none;
    height: 106px;
    margin: 0 auto;
    padding: 4px 4px;
}

section.home div#contato #divForm input[type=submit]{
	text-decoration: none;
	border:none;
	background: none;
	color: white;
    cursor: pointer;
    margin-top: 20px;
	font-family: 'Raleway', sans-serif;
}

section.home div#contato #divForm input[type=submit]:hover{
    text-decoration: underline;
}


/** Serviços Prestados CSS **/

section.servicos{
    display: block;
    margin: 50px auto;
    width: 95%;
    max-width: 1000px;
    padding: 20px;
    color: white;
    background-color: black;
}

section.servicos h1{
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-weight: normal;
    font-size: 60px;
    padding-bottom: 15px;
}

section.servicos table{
    margin: 0 auto;
    width: 100%;
    max-width: 700px;
}

section.servicos table th{
    text-align: start;
}

section.servicos table td{
    padding: 7px 0;
}

section.servicos table form button{
    background: none;
    border: none;
    cursor: pointer;
}

section.servicos table form button i{
    color: white;
}

section.servicos a{
    color: white;
}

section.servicos a#agendarServico{
    display: block;
    max-width: 150px;
    margin: 10px auto;
    text-align: center;
}

section.servicos a#agendarServico:hover{
    text-decoration: underline;
}

section.servicos div.button-box{
    display: block;
    width: 90%;
    max-width: 700px;
    margin: 10px auto;
    margin-top: 40px;
    text-align: center;
}


/** Agendamento CSS **/

section.agendamento{
    display: block;
    margin: 50px auto;
    padding: 20px;
    width: 90%;
    max-width: 500px;
    color: white;
    background-color: black;
    font-size: 200%;
}

section.agendamento a.logo{
    text-align: center;
    display: block;
    margin: 0 auto;
    width: 80px;
}

section.agendamento a.logo img{
    width: 75px;
    border-radius: 15%;
}

section.agendamento h2{
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-weight: normal;
    padding: 10px 0 15px;
}

section.agendamento form{
    display: block;
    margin: 30px auto 0;
    width: 100%;
}

section.agendamento form label{
    display: block;
    text-align: center;
    font-size: 65%;
}

section.agendamento form select,
section.agendamento form input[type=date]{
    padding: 6px;
    width: 100%;
    border: none;
    font-size: 50%;
}

section.agendamento form input[type=date]{
    display: block;
    margin: 0 auto;
    max-width: 300px;
}

section.agendamento form select{
    margin-top: 10px;
}

section.agendamento form select#horario_escolhido{
    display: block;
    width: 50%;
    min-width: 200px;
    margin: 0 auto;
}

section.agendamento form button{
    border: none;
    background: none;
    color: white;
    cursor: pointer;
    padding-bottom: 15px;
    font-size: 50%;
}

section.agendamento form button[type=submit]{
    margin-top: 55px;
}

section.agendamento div.text{
    margin: 20px 0;
    width: 100%;
    text-align: center;
    font-size: 50%;
}

section.agendamento a.voltar{
    display: block;
    max-width: 100px;
    margin-top: 55px;
    font-size: 55%;
    color: white;
}

section.agendamento form button[type=submit]#btn-confirmar{
    display: block;
    background: white;
    color: black;
    text-align: center;
    padding: 7px;
    margin: 10px auto 0;
}

section.agendamento form button[type=submit]#btn-confirmar:hover{
    background: #eee;
    font-weight: 550;
}


/** Mapa CSS **/

section.mapa{
    display: block;
    margin: 50px auto;
    width: 90%;
    max-width: 1000px;
    padding: 20px;
    text-align: center;
    color: white;
    background-color: black;
}

section.mapa h1{
    text-align: center;
    font-family: 'Yellowtail', cursive;
    font-weight: normal;
    font-size: 60px;
    padding-bottom: 15px;
}

section.mapa p{
    padding: 5px 0;
    font-size: 17px;
}

section.mapa iframe{
    margin: 20px 0;
    width: 90%;
    height: 500px;
    border: none;
}


/** Área do Usuário **/

section.area_usuario{
    display: block;
    font-family: 'Raleway';
    font-weight: 500;
    font-size: 17px;
    height: 100%;
}

section.area_usuario div.inf-usuario{
    float: left;
    width: 300px;
    background:	#DCDCDC;
    padding: 10px;
    height: 100%;
    text-align: center;
    overflow-x:hidden;
	overflow-y: auto;
	position: fixed;
	left: 0;
    top: 0;
}
section.area_usuario div.titulo{
    width: calc(100% - 300px);
    background:	#696969;
    text-align: center;
    padding: 10px;
    height: 50px;
    position: fixed;
	left: 300px;
    top: 0;
}
section.area_usuario div.agendamentos{
    width: calc(100% - 300px);
    margin-top: 50px;
    margin-left: 300px;
    padding: 20px;
    height: calc(100% - 50px);
    overflow-x:hidden;
    overflow-y: auto;
    background-image: url('../images/fundo.jpg');
    background-repeat: no-repeat;
    background-attachment:fixed;
    background-size: 100% 100%;
}

section.area_usuario div.inf-usuario div.avatar-usuario{
	text-align: left;
    display: inline-block;
	width: 160px;
	height: 160px;
	border-radius: 50%;
    border: 3px solid #2F3D42;
    background: white;
}

section.area_usuario div.inf-usuario div.avatar-usuario i{
	position: relative;
	left: 50%;
	top: 50%;
	transform:translate(-50%,-50%);
	-ms-transform:translate(-50%,-50%);
	font-size: 140px;
	color: #2F3D42;
}

section.area_usuario div.inf-usuario div.infs h4{
    padding-bottom: 10px;
}

section.area_usuario div.inf-usuario div.infs{
    width: 100%;
    margin-top: 30px;
} 

section.area_usuario div.inf-usuario div.infs p{
    padding-bottom: 8px;
    text-align: center;
    color: #2F3D42;
}

section.area_usuario div.inf-usuario div.infs p b{
    padding-bottom: 8px;
    text-align: center;
    color: black;
}

section.area_usuario div.inf-usuario table.dados_pessoais{
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}

section.area_usuario div.inf-usuario table.dados_pessoais tr th{
    text-align: center;
    background:	#696969;
}

section.area_usuario div.inf-usuario table.dados_pessoais tr td{
    background: white;
}

section.area_usuario div.inf-usuario table.dados_pessoais tr td:nth-child(1){
    background: #A9A9A9;
}

section.area_usuario div.inf-usuario table.dados_pessoais th,
section.area_usuario div.inf-usuario table.dados_pessoais td{
    padding: 5px;
    border: 1px solid black;
}

section.area_usuario div.inf-usuario div.buttons{
    margin-top: 10px;
}

section.area_usuario div.inf-usuario div.buttons a{
    color: black;
    font-size: 18px;
}

section.area_usuario div.inf-usuario div.buttons a#agendar{
    padding: 10px;
}
section.area_usuario div.inf-usuario div.buttons a#agendar:hover{
    text-decoration: underline;
}

section.area_func div.agendamentos table.agendamentos_feitos{
    width: 100%;
    max-width: 800px;
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    margin: 20px auto;
    box-shadow: 4px 4px 4px #777;
}

section.area_func div.agendamentos table.agendamentos_feitos form button{
    background: none;
    border: none;
    cursor: pointer;
}

section.area_func div.agendamentos table.agendamentos_feitos form button i{
    font-size: 23px;
    color: white;
}

section.area_func div.agendamentos table.agendamentos_feitos th,
section.area_func div.agendamentos table.agendamentos_feitos td{
    padding: 5px;
    border: 1px solid black;
}

section.area_func div.page div.area_trabalho div.agendamentos table.agendamentos_feitos th.title{
    background:	#696969;
}

section.area_func div.agendamentos table.agendamentos_feitos td{
    background:	#DCDCDC;
}

section.area_func div.agendamentos table.agendamentos_feitos tr td:nth-child(1){
    background:#A9A9A9;
}

section.area_func div.agendamentos table.agendamentos_feitos tr td.servicos{
    text-align: center;
    background: white;
}


/** Rodapé CSS **/

footer{
    background: white;
    padding: 10px 0;
}

footer p{
    font-size: 17px;
    color: black;
    text-align: center;
}


/** Erro 404 **/

body#erro404{
    background: white;
}

section.erro404 {
    text-align: center;
}

section.erro404 h1{
    border-top: 2px solid #ce3232;
    margin-top: 50px;
    font-size: 40px;
    color: #ce3232;
}

section.erro404 p, 
section.erro404 a{
    margin-top: 30px;
    color: black;
}

section.erro404 p a:hover{
    text-decoration: underline;
}

/** Medias para telas menores **/

@media (max-width: 1150px){
    header{
        padding-top: 3px;
        padding-bottom: 0;
        background: white;
    }
    nav.desktop{
        display: none;
    }
    nav.mobile{
        display: block;
    }
    nav.mobile .botao-menu-mobile{
        position: relative;
        z-index: 3;
    }
    nav.mobile ul{
        z-index: 2;
        list-style-type: none;
        position: absolute;
        left: 0;
        top: 0;
        display: none;
        text-align: center;
        width: 100%;
        background: rgba(0, 0, 0, 0.95);
        height: 100%;
    }
    nav.mobile li:first-child{
        margin-top: 75px;
    }
    nav.mobile li{
        width: 100%;
        margin: 20px 0;
        font-size: 17px;
    }
    nav.mobile li a {
        display: block;
        padding: 10px;
        font-size: 20px;
        color: rgba(255, 255, 255, 0.87);
    }
    nav.mobile li a:hover{
        background-color: white;
        color: black;
    }
    .botao-menu-mobile{
        cursor: pointer;
        color: black;
        font-size: 50px;
    }
    .botao-menu-mobile i{
        font-size: 50px;
    }
    header .logo{
        padding-top: 8px;
    }
    section.home div.banner{
        padding: 5px 5px;
        min-height: 300px;
    }
    
    section.home div.banner div.text{
        display: block;
        width: 100%;
        margin-top: 25px;
        color: #fff;
        text-align: center;
        margin-bottom: 25px;
    }
    section.home div.banner div.text h2{
        font-size: 60px;
    }
    section.home div.banner div.text h3{
        font-size: 20px;
    }
}

@media (max-width: 850px){
    section.home div.corpo div#sobre img{
        display: none;
    }
    section.home div.corpo div#sobre div.w50{
        width: 100%;
        margin-bottom: 30px;
        margin-top: -30px;
    }
}


@media (max-width: 600px){
    
    header{
        padding: 0;
        padding-top: 5px;
    }
    header div.titulo_texto{
        display: none;
    }
    header div.titulo_imagem{
        display: inline-block;
    }
    header div.titulo_imagem img{
        width: 65px;
    }

    nav.mobile .botao-menu-mobile{
        top: 7px;
    }

    section.home div.corpo{
        width: 100%;
        background-color: white;
        padding: 0;
    }
    section.home div.corpo div#sobre p{
        margin:0;
    }
    section.home div#contato #divForm{
        padding: 10px;
    }
    section.home div.corpo div.galeria .banner-principal{
        width: 100%;
        height: 300px;
        background-size: cover; /*Fazendo o background esticar até cobrir todo o container*/
        position: relative;
    }
    section.home div.corpo div.galeria .banner-principal .banner-single{
        width: 100%;
        height: 100%;
        margin-left: 0;
    }
    section.servicos{
        padding: 5px;
    }
    section.area_usuario div.inf-usuario{
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        overflow-y: hidden;
        position: relative;
    }
    section.area_usuario div.titulo{
        display: none;
    }
    section.area_usuario div.agendamentos{
        width: 100%;
        margin: 0;
        padding: 20px 5px;
        height: auto;
        overflow-y: hidden;
    }
    body#body_area_usuario{
        overflow-y: auto !important;
    }
}