body#body_area_func{
    overflow-y: hidden;
}

body#body_area_func hr{
    margin: 5px 0;
}


/* Area do Funcionario */

section.area_func{
    display: block;
    font-family: 'Raleway';
    font-weight: 550;
    font-size: 17px;
    height: 100%;
}

section.area_func div.inf-func{
    float: left;
    width: 300px;
    background:	#363636;
    padding: 10px;
    height: 100%;
    text-align: center;
    overflow-x:hidden;
	overflow-y: auto;
	position: fixed;
	left: 0;
    top: 0;
    color: white;
}

section.area_func div.inf-func div.avatar-func div.botao-menu-mobile{
    padding-top: 15px;
    display: none;
}

section.area_func div.inf-func div.avatar-func div.botao-menu-mobile i{
    font-size: 25px;
}

section.area_func div.inf-func div.avatar-func div.text-func{
    text-align: left;
    padding-left: 80px;
}

section.area_func div.inf-func div.avatar-func div.text-func p{
    padding-top: 5px;
}

section.area_func div.inf-func div.avatar-func div.text-func p#status{
    padding-left: 5px;
}

section.area_func div.inf-func div.avatar-func img{
    width: 70px;
}

section.area_func div.inf-func div.links{
    text-align: left;
    margin-top: 30px;
}

section.area_func div.inf-func div.links h4{
    padding-bottom: 25px;
}

section.area_func div.inf-func div.links a{
    padding-left: 10px;
    color: white;
    font-size: 20px;
}
section.area_func div.inf-func div.links a+a{
    padding-top: 25px;
    display: block;
}

section.area_func div.titulo{
    width: calc(100% - 300px);
    background:	#696969;
    text-align: center;
    padding: 10px;
    height: 50px;
    position: fixed;
	left: 300px;
    top: 0;
}

section.area_func div.titulo h1{
    color: white;
}

section.area_func div.titulo a{
    color: white;
}

section.area_func div.titulo a+a{
    margin-right: 7px;
}

section.area_func div.page{
    width: calc(100% - 300px);
    margin-top: 50px;
    margin-left: 300px;
    padding: 15px;
    height: calc(100% - 50px);
    overflow-x:hidden;
    overflow-y: auto;
}

section.area_func div.page div.area_trabalho{
    background: #DCDCDC;
    width: 100%;
    min-height: 100%;
    height: auto;
    padding: 20px;
}

section.area_func div.page div.area_trabalho button.btn-enviar{
    width: 70px;
    height: 25px;
}


/* Gerenciar Fotos */

section.area_func div.page div.area_trabalho div.bloco{
    width: 49%;
    height: 400px;
    border: 1px solid black;
    display: inline-block;
    margin-bottom: 60px; 
}
section.area_func div.page div.area_trabalho div.bloco+div.bloco.direita{
    margin-left: 2%;
}

section.area_func div.page div.area_trabalho div.bloco div.fotos{
    width: 100%;
    height: 400px;
    border: 1px solid black;
    background-size: cover;
    background-position: center;
}

section.area_func div.page div.area_trabalho div.bloco form{
    width: 100%;
    padding: 5px 30px;
    
}

section.area_func div.page div.area_trabalho div.bloco form button{
    border: none;
    padding: 5px;
    min-width: 150px;
    cursor: pointer;
}

section.area_func div.page div.area_trabalho div.bloco form button:hover{
    font-weight: bold;
}


/* Gerenciar Serviços */

section.area_func div.page div.area_trabalho div.paginas table{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
}

section.area_func div.page div.area_trabalho div.paginas table form{
    width: 100%;
}

section.area_func div.page div.area_trabalho div.paginas table textarea{
    width: 100%;
    padding: 5px;
    border: none;
    resize: vertical;
}

section.area_func div.page div.area_trabalho div.paginas table button{
    width: 100%;
    padding: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}
section.area_func div.page div.area_trabalho div.paginas table button:hover{
    font-weight: bold;
}

section.area_func div.page div.area_trabalho div.paginas table tr th{
    background-color: black;
    color: white;
    padding: 10px;
}

section.area_func div.page div.area_trabalho div.paginas table tr td{
    padding: 5px;
    border-bottom: 1px solid black;
}

section.area_func div.page div.area_trabalho div.paginas table td:nth-child(2){
    width: 20%;
    text-align: center;
}

section.area_func div.page div.area_trabalho div.paginas table td:nth-child(3){
    width: 70%;
} 

section.area_func div.page div.area_trabalho div.paginas table td:nth-child(4){
    width: 10%;
    border-left: 1px solid black;
}

section.area_func div.page div.area_trabalho div.paginas table.infs_horarios td:nth-child(3){
    text-align: center;
}
section.area_func div.page div.area_trabalho div.paginas table.infs_horarios td:nth-child(3) div.input{
    padding: 5px;
}
section.area_func div.page div.area_trabalho div.paginas table.infs_horarios td:nth-child(3) div.input input{
    text-align: center;
    padding: 2px;
    width: 100%;
    max-width: 200px;
}


/* Gerenciar Agendamento */

section.area_func div.page div.area_trabalho div.agendamentos_feitos{
    display: inline-block;
    width: 67%;
    border-right: 1px solid black;
    padding-right: 5px;
}

section.area_func div.page div.area_trabalho div.agenda_hoje{
    display: inline-block;
    padding-left: 5px;
    width: 33%;
}

section.area_func div.page div.area_trabalho div.agenda_hoje p{
    text-align: center;
    padding-bottom: 3px;
    border-bottom: 1px solid #444;
}

section.area_func div.page div.area_trabalho div.agenda_hoje div.agendamento p{
    text-align: left;
    margin-top: 10px;
    padding: 0;
    border: none;
}

section.area_func div.page div.area_trabalho div.agendamentos_feitos table{
    border: 1px solid black;
    padding: 5px;
    border-collapse: collapse;
    width: 100%;
    margin-bottom: 30px;
}

section.area_func div.page div.area_trabalho div.agendamentos_feitos table tr th{
    text-align: center;
    background:	black;
    color: white;
}

section.area_func div.page div.area_trabalho div.agendamentos_feitos table tr td{
    background: white;
}

section.area_func div.page div.area_trabalho div.agendamentos_feitos table tr td:nth-child(1){
    background: #A9A9A9;
}

section.area_func div.page div.area_trabalho div.agendamentos_feitos table tr:nth-child(2) td:nth-child(1){
    text-align: center;
}

section.area_func div.page div.area_trabalho div.agendamentos_feitos table th,
section.area_func div.page div.area_trabalho div.agendamentos_feitos table td{
    padding: 5px;
    border: 1px solid black;
}


/* Gerenciamento dos serviços */

section.area_func div.page div.area_trabalho div.servicos div.button-box{
    text-align: center;
}

section.area_func div.page div.area_trabalho div.servicos table{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
}

section.area_func div.page div.area_trabalho div.servicos table form{
    width: 100%;
}

section.area_func div.page div.area_trabalho div.servicos table input{
    width: 100%;
    padding: 5px;
    border: none;
    background: white;
    text-align: center;
}

section.area_func div.page div.area_trabalho div.servicos table button{
    width: 100%;
    padding: 5px;
    border: none;
    text-align: center;
    cursor: pointer;
}
section.area_func div.page div.area_trabalho div.servicos table button:hover{
    font-weight: bold;
}

section.area_func div.page div.area_trabalho div.servicos table tr th{
    background-color: black;
    color: white;
}

section.area_func div.page div.area_trabalho div.servicos table tr td{
    padding:  10px 5px;
    border-bottom: 1px solid black;
}

section.area_func div.page div.area_trabalho div.servicos table tr th:nth-child(1),
section.area_func div.page div.area_trabalho div.servicos table tr td:nth-child(1){
    width: 46%;
} 

section.area_func div.page div.area_trabalho div.servicos table tr th:nth-child(2),
section.area_func div.page div.area_trabalho div.servicos table tr td:nth-child(2),
section.area_func div.page div.area_trabalho div.servicos table tr th:nth-child(3),
section.area_func div.page div.area_trabalho div.servicos table tr td:nth-child(3){
    width: 20%;
} 

section.area_func div.page div.area_trabalho div.servicos table tr th:nth-child(4),
section.area_func div.page div.area_trabalho div.servicos table tr td:nth-child(4),
section.area_func div.page div.area_trabalho div.servicos table tr th:nth-child(5),
section.area_func div.page div.area_trabalho div.servicos table tr td:nth-child(5){
    width: 7%;
} 



/* Gerenciar Clientes */

section.area_func div.page div.area_trabalho table#clientes{
    width: 100%;
    border-collapse: collapse;
    margin: 0 auto;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
}

section.area_func div.page div.area_trabalho table#clientes th{
    background-color: black;
    color: white;
}

section.area_func div.page div.area_trabalho table#clientes td{
    padding:  10px 5px;
    border-bottom: 1px solid black;
    background-color: white;
}


@media (max-width: 1150px){

    section.area_func div.page div.area_trabalho div.bloco{
        display: block;
        margin: 0 auto;
        width: 80%;
    }
    section.area_func div.page div.area_trabalho div.bloco+div.bloco.direita{
        margin: 60px auto;
    }
    section.area_func div.page div.area_trabalho div.bloco form{
        padding: 5px 10px;
    }

}

@media (max-width: 950px){

    section.area_func div.page div.area_trabalho div.bloco{
        width: 100%;
    }

    section.area_func div.page div.area_trabalho div.agendamentos_feitos{
        display: block;
        width: 100%;
        border: none;
        border-bottom: 1px solid #444;
        padding: none;
    }
    
    section.area_func div.page div.area_trabalho div.agenda_hoje{
        display: block;
        padding: none;
        padding-top: 5px;
        width: 100%;
        text-align: center;
    }
    
    section.area_func div.page div.area_trabalho div.agenda_hoje p{
        padding-bottom: none;
        border-bottom: none;
    }
    
    section.area_func div.page div.area_trabalho div.agenda_hoje div.agendamento p{
        text-align: center;
        margin-top: 10px;
    }
}

@media (max-width: 825px){

    body#body_area_func{
        overflow-y: auto !important;
    }
    section.area_func div.inf-func{
        float: none;
        width: 100%;
        height: auto;
        text-align: center;
        overflow-y: hidden;
        position: relative;
    }
    section.area_func div.titulo{
        display: block;
        position: relative;
        width: 100%;
        left: 0;
    }
    section.area_func div.page{
        width: 100%;
        margin: 0;
        padding: 20px 5px;
        height: auto;
        overflow-y: hidden;
    }
    section.area_func div.page div.area_trabalho div.bloco{
        width: 80%;
    }
    section.area_func div.inf-func div.links{
        display: none;
        text-align: center;
        margin: 30px 0;
    }
    section.area_func div.inf-func div.avatar-func div.botao-menu-mobile{
        display: block;
    }
}

@media (max-width: 475px){

    section.area_func div.titulo{
        text-align: left;
        height: auto;
    }
    section.area_func div.titulo h1{
        margin-left: 0;
        text-align: center;
        float: none;
    }
    section.area_func div.titulo a{
        float: unset;
    }
    section.area_func div.titulo a[href="../php/loggout.php"]{
        float: right;
    }
    section.area_func div.titulo a+a{
        margin: 0;
    }

    section.area_func div.page div.area_trabalho{
        padding: 5px 5px 50px;
    }

    section.area_func div.page div.area_trabalho h2{
        text-align: center;
    }

    section.area_func div.page div.area_trabalho div.bloco{
        width: 100%;
        height: 250px;
    }
    section.area_func div.page div.area_trabalho div.bloco div.fotos{
        height: 250px;
    }
    section.area_func div.page div.area_trabalho div.bloco form{
        padding: 5px 0;
    }
    section.area_func div.page div.area_trabalho div.bloco form button{
        min-width: auto;
    }

}